html {
background-color: brown
    }
body {
   width: 600; 
    margin: 0 auto;
    padding:20;
  border: 15px solid red;
}
p,ol,a{ 
  color: gold;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
}
h1{
     margin: 0;
  padding: 0;    
  text-shadow: 3px 3px 1px black;
    color:brown; 
    font-size: 70px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
button {
	width: 100;
	margin: 0 auto;
}